@import url('./global.css');
/* ------------ HEADER ------------ */
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.logo{
    padding: 40px 0px;
}

.nav-header{
    display: flex;
}

.nav-header ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-header a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
}

.active{
    color: var(--color-primary) !important;
}

.btn-background-less{
    border-radius: 10px;
    padding: 16px 32px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
    cursor: pointer;
}

.btn-header{
    display: flex;
    align-items: center;
    gap: 18px;
}
/* -------------------------------- FIM HEADER --------------------------------------- */
/*---------------------------------INICIO MAIN-----------------------------------------*/
.primary-font-color{
    color: var(--color-primary);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    gap: 124px;
    
}

.we-deliver{
    width: 563px;
}

.we-deliver h1{
   font-size: 60px;
   margin-bottom: 32px;
}

.we-deliver p{
    margin-bottom: 32px;
    color: rgba(0, 0, 1,0.6);
    margin-top: 100px;
    margin-left: 100px;

 }

 .btn-order{
    border-radius: 10px;
    padding: 16px 32px;
    border: 1px solid var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;

 }

 .btn-explore{
    border-radius: 10px;
    padding: 16px 32px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
    cursor: pointer;
 }

/*----------------------------------FIM MAIN------------------------------------------*/
/*-------------------------------- WHY CHOOSE ---------------------------------------*/
.why-choose-us{
    text-align: center;
    background-color: #FAFAFA;

}

.why-choose-us h2{
    padding-top: 100px;
}

.choose-container{
    display: flex;
    padding: 60px 100px;
}

.analysis{
    display: flex;
}
   