@import url('./global.css');
/* ------------ HEADER ------------ */
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.logo{
    padding: 40px 0px;
}

.nav-header{
    display: flex;
}

.nav-header ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-header a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
}

.active{
    color: var(--color-primary) !important;
}

.btn-background-less{
    border-radius: 10px;
    padding: 16px 32px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
    cursor: pointer;
}

.btn-header{
    display: flex;
    align-items: center;
    gap: 18px;
}
/* -------------------------------- FIM HEADER --------------------------------------- */
/*---------------------------------INICIO MAIN-----------------------------------------*/
.primary-font-color{
    color: var(--color-primary);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    gap: 124px;
    
}

.we-deliver{
    width: 563px;
}

.we-deliver h1{
   font-size: 60px;
   margin-bottom: 32px;
}

.we-deliver p{
    margin-bottom: 32px;
    color: rgba(0, 0, 1,0.6);
    margin-top: 32px;

 }

 .btn-order{
    border-radius: 10px;
    padding: 16px 32px;
    border: 1px solid var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;

 }

 .btn-explore{
    border-radius: 10px;
    padding: 16px 32px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
    cursor: pointer;
 }

/*----------------------------------FIM MAIN------------------------------------------*/
/* Especia  dishes  - Inicio */
.special-dishes {
    text-align: center;
    margin: 100px;
}

.special-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 60px 100px;
}

.special-container article p{
    width: 279px;
    margin-top: 16px;
}
.btn-order{
    margin-top: 16px;
    width: 352px;
}

/*-------------------------------- WHY CHOOSE ---------------------------------------*/
.why-choose-us{
    text-align: center;
    justify-content: center;
    background-color: #FAFAFA;
}

.why-choose-us h2{
    padding-top: 100px;
}

.why-choose-us p{
    color: rgba(0, 0, 0, 0.6);
}


.choose-container{
    display: flex;
    justify-content: center;
    padding: 60px 100px;
    gap: 110px;
}

.choose-container p{
    width: 275.3px;
    color: rgba(0, 0, 0, 0.6);
}

.analysis{
    display: flex;
    justify-content: center;
}

.analysis div{
    width: 400px;
    gap: 20px;
}

.analysis h4{
    font-size: 48px;
}

.analysis p{
    font-size: 18px;
    margin-bottom: 100px;
    color: rgba(0, 0, 0, 0.6);
}

/*-------------------------------- FIM WHY CHOOSE ---------------------------------------*/

/*------------------------------------ SPECIAL DISHES ------------------------------------*/

/*------------------------------------ FIM SPECIAL DISHES -------------------------------*/

/*------------------------------------ SAY ABOUT US ------------------------------------*/
.say-about-us{
    text-align: center;
    background-color: #FAFAFA;
}

.say-about-us h2{
    text-align: center;
    padding: 100px 382px 8px;
}

.say-about-us p{
    text-align: center;
    margin-top: 8px;
}
.all-clients{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
    gap: 21px;
    padding-bottom: 100px;
}

.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 16px;
}

.client img{
    width: 100px;
    margin-top: 30px;
}

.client h3{
    width: 170px;
    margin-top: 24px;
}

.client-jane{
    width: 319px;
    margin-top: 16px;
    font-size: 19px;
    margin-bottom: 82px;
    color: rgba(0, 0, 0, 0.6);
}

.client-esther{
    width: 333px;
    margin-top: 16px;
    font-size: 19px;
    margin-bottom: 82px;
    color: rgba(0, 0, 0, 0.6);
}

.client-guy{
    width: 348px;
    margin-top: 16px;
    font-size: 19px;
    margin-bottom: 82px;
    color: rgba(0, 0, 0, 0.6);
}

/*------------------------------------ FIM SAY ABOUT US -------------------------------*/

/*---------------------------------------- ABTUS ------------------------------------------*/
.abt-us{
    display:flex;
    justify-content: center;
    gap: 82px;
}

.abt-us p{
    width: 558px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 24px;
    margin-bottom: 24px;
}

.btn-abtus{
    width: 157px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
    padding: 16px 32px;
}
/*------------------------------------ FIM ABTUS ------------------------------------------*/

/*---------------------------------------- SUBSCRIBE ------------------------------------------*/
.subscribe {    
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    padding: 100px 365px;
    flex-direction: column;
    
}

.subscribe h2{
    display: flex;
    justify-content: center;
}

.subscribe P{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 60px;
    margin-top: 8px;
}

.subscribe-email{
    border: 1px solid #C1C1C1;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    width: 610px;
    margin-left: 200px;
    color: black;
}

.btn-subs{
    width: 110px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
    padding: 16px 32px 16px 26px;
}

/*------------------------------------ FIM SUBSCRIBE ------------------------------------------*/

/*------------------------------------ FOOTER ------------------------------------------*/
footer{
    background-color: var(--color-primary);
    gap: 40px;
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.social-icons {
    padding: 7.47px;
    transition: 0.4s; /* Esse cara trabalha com o tranform debaixo */
    border-radius: 100px;
    border: 2px solid var(--color-white);
}
.social-icons:hover {
    transform: translateY(-10px);
    background-color: var(--color-primary);
}
.footer-navigation {
    display: flex;
    gap: 97px;
    color: var(--color-white);
}

.footer-links {
    list-style: none;
    font: 14px;
}
.footer-item {
    color: var(--color-white);
    text-decoration: none;
    display: block; /* Para o 'margin-bottom funcionar' */
    margin-bottom: 12px;
    transition: 0.4s; /* Para o 'tansform: translateX(10px)' funcionar */
}
.footer-item:hover {
    transform: translateX(10px);
}

.reserved p{
    color: var(--color-white);
    border-top: solid;
}
/*----------------------------------- FIM FOOTER ---------------------------------------*/